*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    background: #e3b317;
    justify-content: space-around;
    padding: 2rem;
}

.navbar-button{
    border: 3px solid;
    border-color: black;
    border-radius: 5px;
    background-color: burlywood;
    padding: 1rem;
    font-size: large;
}
.ui-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: blanchedalmond;
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player{
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.rps-display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    
}

.rps-button{
    max-width: 300px;
    min-width: 300px;
    min-height: 100px;
    border-radius: 10px;
    font-size: 30px;
}

.status{
    font-size: 30px;
}